@import url(/styles/utils/index.css);
@import url(/styles/components/status-bar.css);
@import url(/styles/components/contact.css);
@import url(/styles/components/action-bar.css);


body{
    background-color: black;
    position: relative;
}

#chat-icon{
    margin-left: 20px;
    margin-top: 16px;
}

#background{
    position: absolute;
    top: 0;
    z-index: -1;
}