.message-bar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.message-bar__group-input {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  width: 135px;
}

.message-bar__input {
  background: none;
  border: none;
  outline: none;
  margin: 8px 0;
  margin-left: 15px;
  width: 75px;
}

.message-bar__input::placeholder {
  font-family: "Source Sans Pro";
  font-size: 17px;
  color: #999999;
}

.message-bar__group-input--typing {
  width: 285px;
}

.message-bar__input--typing {
  width: 80%;
}

.message-bar__input--typing:focus {
  color: blue;
}
