.to-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  background-color: #f9f8f9;
  color: #00000066;
}

.to-bar__input {
  border: none;
  background: none;
  outline: none;
  color: #00000066;
}
